<h1>Employee List</h1>
<table class="table table-bordered table-responsive-md table-striped text-center">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Name</th>
    <th>Weekly Effort (Total)</th>
    <th>Weekly Effort (Average)</th>
  </tr>
  <tr *ngFor="let item of employees" (click)="setClickedRow(item.code)">
    <td>{{item.id}}</td>
    <td>{{item.code}}</td>
    <td>{{item.name}}</td>
    <td>{{item.totalwork}}</td>
    <td>{{item.avgwork}}</td>
  </tr>
</table>
