<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="form-group row">
      <label for="staticEmail" class="col-lg-4 col-md-4 col-sm-4 col-form-label">Select Employee</label>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <select class="form-control" id="employee-list" (change)="onChange($event.target.value)" [(ngModel)]='nrSelect'>
          <option *ngFor="let item of employees" [value]="item.code">{{item.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <button type="button" class="btn btn-primary btn-sm  pull-right" style="border-radius:100%"  [ngClass]="!isAddNew ? {'fa fa-plus':true} : {'fa fa-close':true}" (click)="add()"></button>
  </div>
</div>

<div class="row">
 <h1 style="margin: 0px auto; margin-bottom:25px; margin-top:25px">Week</h1>
  
  <table class="table table-bordered table-responsive-md table-striped text-center">
    <tr>
      <th style="width:250px">Task Name</th>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>

    <tr *ngFor="let row of effort_log">
      <td>{{row.name}}</td>
      <td>{{row.sunday}}</td>
      <td>{{row.monday}}</td>
      <td>{{row.tuesday}}</td>
      <td>{{row.wednesday}}</td>
      <td>{{row.thursday}}</td>
      <td>{{row.friday}}</td>
      <td>{{row.saturday}}</td>
    </tr>

    <tr *ngFor="let row of rows; let i=index">
      <th style="display:none">
        <input class="form-control" type="text" [(ngModel)]="newValue.employeeCode" [value]="employeeCode" />
      </th>
      <th>
        <select class="form-control" id="task-list" [(ngModel)]="newValue.TaskID">
          <option *ngFor="let item of tasks" [ngValue]="item.id">{{item.name}}</option>
        </select>
      </th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Sunday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Monday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Tuesday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Wednesday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Thursday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Friday" /></th>
      <th><input class="form-control" type="number" [(ngModel)]="newValue.Saturday" /></th>
    </tr>


    <tfoot>
    <th>Total</th>
    <th>{{st}}</th>
    <th>{{mt}}</th>
    <th>{{tut}}</th>
    <th>{{wt}}</th>
    <th>{{tht}}</th>
    <th>{{ft}}</th>
    <th>{{sat}}</th>
    </tfoot>
  </table>

</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 ">
    <button type="button" class="btn btn-success btn-sm pull-right" (click)="save()">Save</button>
    <a class="btn btn-warning btn-sm pull-right" style="margin-right:10px" routerLink="/">Back To List</a>
  </div>
</div>
